label {
  color: red;
}
.box {
  margin-top: 50px;
  margin-left: 50px;
}

.field {
  left: 50%;
  margin-left: 50%;
}

input {
  width: auto;
  height: auto;
  margin-top: 1%;
  border: none;
  border-bottom: 2px solid;
}
